<a href="https://colab.research.google.com/github/vivanreddyp/Vishnu_INFO5731_Spring2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
def char_value(string1):
    rest = {}
    for n in string1:
        keys = rest.keys()
        if n in keys:
            rest[n] += 1
        else:
            rest[n] = 1
    return rest
print(char_value('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [ ]:
# creating a list
fstlist = [12, 5, 19, 20, 26]
 
# using sum() function
total = sum(fstlist)
 

print("sum all the items in a list: ", total)

sum all the items in a list:  82

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [ ]:
ns = 'restart'
os = 'r'
nr = '$'
maxreplace = 1

final = nr.join(ns.rsplit(os, maxreplace))
print(final)

resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [5]:
import math
def xyz(a,b):
  S=math.pi*(1+a/b)**3
  return S

print(xyz(1,5))

5.4286721054031615

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [ ]:
tupelm = (2, 4, 6, 10, 12, 24, 48, 99, 16)
print("Tuple Items = ", tupelm)

element = int(input("Enter element Item to Find = "))

result = element in tupelm

print("Does our tupelm Contains the ", element, "? ", result)

Tuple Items =  (2, 4, 6, 10, 12, 24, 48, 99, 16)
Enter element Item to Find = 2
Does our tupelm Contains the  2 ?  True

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [ ]:
#Create a set
setnew = {7, 12, 2, 18, 200, 25}
print("Actually original set:")
print(setnew)
print(type(setnew))
print("\nMaximum value in the given set:")
print(max(setnew))
print("\nMinimum value in the given set:")
print(min(setnew))

Actually original set:
{2, 7, 200, 12, 18, 25}
<class 'set'>

Maximum value in the given set:
200

Minimum value in the given set:
2

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [4]:
import random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313',
                'ak0934','vm0377','nm0618','sm1640',
                'sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

def dividepart(first, n): 
    dividepart2 = len(first) / float(n) 
    return [ first[int(round(dividepart2 * i)): int(round(dividepart2 * (i + 1)))] for i in range(n) ]

dividepart(studnet_list,6)

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229'],
 ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141'],
 ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458'],
 ['sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640'],
 ['sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500'],
 ['aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']]

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [ ]:
def duplicate_int(nums):
    int_set = set()
    noduprec = -1

    for i in range(len(nums)):

        if nums[i] in int_set:
            return nums[i]
        else:
            int_set.add(nums[i])

    return noduprec

print(duplicate_int([6,7,4,3,2,5,8]))

-1

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [ ]:
from datetime import date, timedelta
def totalsundays(year):
   dyz = date(year, 1, 1)                    
   dyz += timedelta(days = 6 - dyz.weekday())  
   while dyz.year == year:
      yield dyz
      dyz += timedelta(days = 7)

for dyz in totalsundays(2022):
   print(dyz)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27',
               '2020-02-03', '2020-02-10', '2020-02-17', '2020-02-24',
               '2020-03-02', '2020-03-09', '2020-03-16', '2020-03-23',
               '2020-03-30', '2020-04-06', '2020-04-13', '2020-04-20',
               '2020-04-27', '2020-05-04', '2020-05-11', '2020-05-18',
               '2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05',
               '2020-10-12', '2020-10-19', '2020-10-26', '2020-11-02',
               '2020-11-09', '2020-11-16', '2020-11-23', '2020-11-30',
               '2020-12-07', '2020-12-14', '2020-12-21', '2020-12-28'],
              dtype='datetime64[ns]', freq='W-MON')